* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

fieldset {
  border-width: thin;
}



/* div {
  min-height: 100vh;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 60px;
  font-style: initial;
  margin: 0px 0px 0px 0px;
  box-sizing: initial;


} */

.homepg1 {
  background: url(./images/mona.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 30%;

}

.homepg2,
.homepg3,
.homepg4 {
  background: gray;

}

h3 {
  font-style: italic;
  color: white;
  display: inline;
  font-weight: bold;
  margin: 0 200px 250px 20px;

}

h2 {
  margin: 0 0 20px 20px;
  font-size: 100px;

}

h4 {
  text-decoration: overline underline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 0 0 20px 20px;

}

#h42 {
  background-color: rgb(243, 76, 16);
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline;
  font-weight: bold;
  padding: 15px;
  margin: 20px 20px 20px 20px;
  font-size: 17px;
  text-decoration: none;

}

a {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  font-size: 17px;
  text-decoration: none;
  color: white;
  font-weight: normal;
  margin: 0 80px 100px 0;
}